<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842970573028-lhveks84n7d1d9k1o3vfh8hb5613cb4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842970573028-lhveks84n7d1d9k1o3vfh8hb5613cb4u</string>
	<key>API_KEY</key>
	<string>AIzaSyCfY3s4_oTdiCeJT6pgVuIdai6HdfX4d9A</string>
	<key>GCM_SENDER_ID</key>
	<string>842970573028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardpalz</string>
	<key>PROJECT_ID</key>
	<string>cardpalz-ecf65</string>
	<key>STORAGE_BUCKET</key>
	<string>cardpalz-ecf65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:842970573028:ios:ddebb359b4110605b664f1</string>
</dict>
</plist>
